
html, body{
    background-color: #eaf6f6;
}
img{
    /* width: 200PX; */
    /* border-radius:100px ; */
}
hr{
 background-color: #fff;
  border: none;
  border-top-style: dotted ;
  border-color:  gray;
  width: 5%; 
}
h1{
    color: aqua;
}
h2{
    color: ;
}

